.menu_res_768 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 68%;
  display: none;
  background-color: #202020;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  padding-top: 159px;
  box-sizing: border-box;
}
.menu_res_768_visible {
  display: flex;
}
.menu_res_768:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 100%;
  backdrop-filter: blur(2px);
}
.menu__block-link_res_768 {
  display: flex;
  max-width: 220px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.menu__link_res_768 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 28px;
}
.menu__link_active_res_768 {
  border-bottom: 2px solid #fff;
}
.menu__account-icon_res_768 {
  margin-left: 7px;
}
.menu__link-image_res_768 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  position: absolute;
  bottom: 90px;
}
.menu__icon_close {
  position: absolute;
  top: 20px;
  right: 35px;
}
@media screen and (min-width: 769px) {
  .menu_res_768 {
    display: none;
  }
}
