.menu {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__block-link {
  display: flex;
  max-width: 212px;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
}
.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}
.menu__link_active {
  font-weight: 500;
}
.menu__account-icon {
  margin-left: 7px;
}
.menu__link-image {
  display: flex;
  align-items: center;
}
.menu__icon-tablet {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__icon-tablet {
    display: block;
  }
  .menu__link:not(:first-child) {
    display: none;
  }
  .menu__block-link {
    display: none;
  }
}
