.portfolio {
  margin: 0;
}
.portfolio__header {
  height: 20px;
  margin: 0 0 50px 0;
  border: unset;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}
.portfolio__body {
  height: 355px;
}

.portfolio__block {
  max-width: 1140px;
  width: 100%;
}

.portfolio__title {
  font-size: 30px;
  line-height: 60px;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}
.portfolio__title:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.portfolio__link {
  margin: 0;
  width: 29px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}
