.footer {
  margin: 0 auto;
}
.footer__header {
  height: 16px;
  margin: 79px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}
.footer__body {
  height: unset;
  margin: 20px 0 20px 0;
}
.footer__block-link {
  display: flex;
}
.footer__link {
  margin-right: 20px;
  color: #fff;
}
.footer__link:last-child {
  margin: 0;
  padding: 0;
}
