.promo {
  background-color: #073042;
  margin: 0;
}
.promo__header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__sign {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.promo__sign-up {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
}
.promo__sign-in {
  width: 76px;
  height: 32px;
  text-decoration: none;
  background-color: #3ddc84;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-style: normal;
  color: #000;
}
.promo__title {
  max-width: 640px;
  margin-top: 75px;
}
.promo__subtitle {
  max-width: 310px;
  margin-top: 36px;
  opacity: 0.5;
}
.promo__img {
  width: 310px;
  height: 304px;
  margin: 75px 0 0 40px;
}
.promo__button {
  width: 129px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #073042;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin-top: 146px;
}
.promo__footer {
  height: 50px;
}
