.promo {
  background-color: #073042;
  margin: 0;
}
.promo__title {
  max-width: 640px;
  margin-top: 75px;
}
.promo__subtitle {
  max-width: 310px;
  margin-top: 36px;
  opacity: 0.5;
}
.promo__img {
  width: 310px;
  height: 304px;
  margin: 75px 0 0 40px;
}
.promo__button {
  width: 129px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #073042;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin: 146px 0 25px 0;
}
.promo__footer {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .promo__img {
    margin: 140px 0 0 0;
  }
  .promo__body {
    flex-direction: column-reverse;
    align-items: center;
  }
  .promo__title {
    max-width: 680px;
    margin-top: 48px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .promo__subtitle {
    display: block;
    max-width: 262px;
    margin-top: 22px;
    font-size: 13px;
    line-height: 16px;
    align-self: center;
    text-align: center;
  }
  .promo__button {
    margin: 92px 0 10px 0;
    align-self: center;
  }
  .promo__footer {
    height: 66px;
  }
}
@media screen and (max-width: 320px) {
  .promo__sign-up {
    font-size: 10px;
    margin-right: 14px;
  }
  .promo__sign-in {
    width: 54px;
    height: 26px;
  }
  .promo__img {
    width: 210px;
    height: 206px;
    margin: 70px 0 0 0;
  }
  .promo__title {
    max-width: 300px;
    margin-top: 44px;
    font-size: 30px;
    line-height: 38px;
  }
  .promo__subtitle {
    max-width: 260px;
    margin-top: 24px;
  }
  .promo__button {
    margin: 80px 0 30px 0;
    align-self: center;
  }
  .promo__footer {
    display: none;
  }
}
