.about-me {
  margin: 0;
}
.about-me__body {
  height: 493px;
}
.about-me__block {
  max-width: 600px;
}
.about-me__block-link {
  display: flex;
}
.about-me__title {
  padding-top: 66px;
}
.about-me__subtitle {
  padding-top: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.about-me__paragraph {
  margin: 0;
  padding-top: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.about-me__link {
  margin: 0;
  padding-top: 99px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}
.about-me__img {
  width: 270px;
  height: 327px;
  margin-top: 66px;
  margin-left: 40px;
  border-radius: 10px;
}
